/* form{
  height: 250px;
  width:180px;
  border: 5px solid black;
  border-radius: 1px;
  margin-left: 700px;
  margin-top: 250px;
  /* animation: borderChange 2s ease-in-out 0s infinite alternate; */


 /* background: 
    linear-gradient(white, white) padding-box,
    linear-gradient(0deg, red, blue, green, orange, red) border-box;

  animation: spinColors 3s linear infinite;
}

@keyframes spinColors {
  to {
    background: 
      linear-gradient(white, white) padding-box,
      linear-gradient(360deg, red, blue, green, orange, red) border-box;
  }
} */ 
form {
  height: 250px;
  width: 180px;
  margin-left: 700px;
  margin-top: 250px;
  position: relative;
  border-radius: 10px;
  background: white; /* inside color */
}

/* border effect */
form::before {
  content: "";
  position: absolute;
  inset: -5px; /* space for border */
  border-radius: 12px;
  padding: 5px;
  background: conic-gradient(red, blue, green, orange, red);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  animation: spinColors 3s linear infinite;
}

@keyframes spinColors {
  100% {
    transform: rotate(360deg);
  }
}
